.details-header {
  margin-top: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details {
  font-size: 14px;
  font-weight: 400;
  color: "red";
}

.left-arrow {
  margin-right: 5rem;
}

.product-image {
  text-align: center;
  width: 100%;
  margin-bottom: 0.6rem;
}

.product-image img {
  object-fit: cover;
  width: 95%;
  margin: 1.5rem 0;
}

.product-name {
  font-weight: 400;
  font-size: 14px;
  color: "#212c3d";
  margin-bottom: 0.2rem;
}

.product-desc {
  font-weight: 400;
  font-size: 12px;
  color: "#627483";
  margin-bottom: 1rem;
}

.price {
  font-weight: 700;
  font-size: 16px;
  color: "#212c3d";
  margin: 1.2rem 0;
}

#piece {
  font-weight: 400;
  font-size: 12px;
  color: "#627483";
}

.product-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
}

.product-info {
  font-size: 14px;
  font-weight: 400;
  /* border-top: ; */
}

.view {
  font-weight: 400;
  font-size: 14px;
  color: #227eff;
}

.r-r {
  margin: 2rem 0;
}

.product-rating {
  display: flex;
  margin-bottom: 1.5rem;
}

.product-rating p {
  font-weight: 500;
  font-size: 12px;
  color: #212c3d;
  margin-left: 0.5rem;
}

.rating-desc {
  font-size: 12px;
  font-weight: 400;
  color: #627483;
  margin-bottom: 1rem;
}

.avatar {
  margin-bottom: 0.5rem;
}

.buttons {
  background-color: white;
  margin-bottom: 1rem;
  box-shadow: 0px -8px 16px 0px rgba(0, 0, 0, 0.04);
}

button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  width: 48%;
  border-radius: 3px;
  font-family: "Noto Sans JP", sans-serif;
}

.primary-button {
  background-color: #227eff;
  margin-right: 0.5rem;
}

.secondary-button {
  border: 1px solid #227eff;
  color: #234457;
  background-color: white;
}

/* .primary-button {
  font-weight: 500;
  font-size: 14px;
  background-color: #227eff;
  padding: 1rem;
  outline: none;
  color: white;
  width: 50%;
  text-decoration: none;
} */
