* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  /* height: 100vh;
  background-size: cover;
  overflow: hidden; */
}

.container {
  margin: auto;
  width: 90%;
}

/* .App {
  overflow: none;
} */
